    body {
      font-family: "Segoe UI", Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f3f5f7;
      color: #222;
      justify-content: center; 
    }

    fieldset {
      border: none;
      max-width: 900px;
      margin: 40px auto;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 15px #0077b6;
      overflow: hidden;
      padding: 0;
    }

    .CV {
      display: grid;
      grid-template-columns: 300px 1fr;
      gap: 30px;
      padding: 30px 40px;
    }

    .Adama {
      background: #0077b6;
      color: white;
      padding: 25px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .photo img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: initial;
      border: 8px solid #90e0ef;
      display: block;
      margin: 0 auto;
    }

    .Adama h1 {
      font-size: 25px;
      margin-top: 5px;
      color: #fff;
      text-align: center;
    }

    .job-title {
      font-size: 1rem;
      margin-bottom: 15px;
      font-style: italic;
    }

    .Adama h2 {
      color: #fff;
      padding-bottom: 4px;
      margin-top: 25px;
      font-size: 18px;
    }

    .Adama ul {
      text-align: left;
      margin-left: 15%;
    }

    .contenu {
      padding: 30px;
    }

    .section {
      margin-bottom: 25px;
    }

    .section h2 {
      color: #0d6efd;
      border-bottom: 2px solid #0d6efd;
      padding-bottom: 5px;
      margin-bottom: 15px;
      font-size: 1.3rem;
    }

    footer {
      background: #0077b6;
      color: #fff;
      text-align: center;
      padding: 10px 0;
      font-size: 14px;
      border-top: 10px solid #90e0ef;
    }

@media (max-width: 768px) {
  .CV {
    grid-template-columns: 1fr;
  }

  .Adama {
    border-radius: 0;
  }

  .Adama img {
    margin-bottom: 10px;
  }

  .Adama h1 {
    text-align: center;
  }

  .contenu {
    padding: 20px 0;
  }
}